In [1]:
import pandas as pd
import ast
import numpy as np

In [2]:
#charge and shape of the dataset
url='https://drive.google.com/file/d/1Rp7SNuoRnmdoQMa5LWXuK4i7W1ILblYb/view?usp=drive_link'
url = 'https://drive.google.com/uc?id=' + url.split('/')[-2] 
df=pd.read_csv(url)
df.shape

C:\Users\Cristian Nicolás\AppData\Local\Temp\ipykernel_7020\2576785862.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('movies_dataset.csv')

(45466, 24)

In [3]:
#we copy and save, then drop colums we will not use
df_removed_columns = df[['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']].copy()
df_droped=df.drop(['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage'], axis=1)
df_removed_columns.shape

(45466, 6)

In [4]:
df_droped.shape

(45466, 18)

In [5]:
def extract_attribute(row, attribute):
    try:
        collection = ast.literal_eval(row)
        if isinstance(collection, dict):
            return collection.get(attribute, np.nan)
    except (SyntaxError, ValueError):
        pass
    return np.nan

df_droped['collection_id'] = df_droped['belongs_to_collection'].apply(lambda row: extract_attribute(row, 'id'))
df_droped['collection_name'] = df_droped['belongs_to_collection'].apply(lambda row: extract_attribute(row, 'name'))
df_droped['collection_poster_path'] = df_droped['belongs_to_collection'].apply(lambda row: extract_attribute(row, 'poster_path'))
df_droped['collection_backdrop_path'] = df_droped['belongs_to_collection'].apply(lambda row: extract_attribute(row, 'backdrop_path'))

df_droped.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,spoken_languages,status,tagline,title,vote_average,vote_count,collection_id,collection_name,collection_poster_path,collection_backdrop_path
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,NaN,NaN,NaN
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,NaN,NaN,NaN
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg

In [6]:
# we save the original colum before we drop, in case we need it later
df_removed_columns['belongs_to_collection'] = df_droped['belongs_to_collection']
df_droped.drop('belongs_to_collection', axis=1, inplace=True)
df_removed_columns.head()

,video,imdb_id,adult,original_title,poster_path,homepage,belongs_to_collection
0,False,tt0114709,False,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,http://toystory.disney.com/toy-story,"{'id': 10194, 'name': 'Toy Story Collection', ..."
1,False,tt0113497,False,Jumanji,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,NaN,NaN
2,False,tt0113228,False,Grumpier Old Men,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,NaN,"{'id': 119050, 'name': 'Grumpy Old Men Collect..."
3,False,tt0114885,False,Waiting to Exhale,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,NaN,NaN
4,False,tt0113041,False,Father of the Bride Part II,/e64sOI48hQXyru7naBFyssKFxVd.jpg,NaN,"{'id': 96871, 'name': 'Father of the Bride Col..."

In [7]:
df_droped.head(3)

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,...,spoken_languages,status,tagline,title,vote_average,vote_count,collection_id,collection_name,collection_poster_path,collection_backdrop_path
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,NaN,NaN,NaN
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg

In [8]:
def extract_genres(row):
    try:
        genres_list = ast.literal_eval(row)
        genres = [genre['name'] for genre in genres_list]
        return genres
    except (SyntaxError, ValueError):
        return []

df_droped['genres_extracted'] = df_droped['genres'].apply(extract_genres)

In [9]:
df_droped.head()

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,...,status,tagline,title,vote_average,vote_count,collection_id,collection_name,collection_poster_path,collection_backdrop_path,genres_extracted
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,...,Released,NaN,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,"[Animation, Comedy, Family]"
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,...,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,NaN,NaN,NaN,"[Adventure, Fantasy, Family]"
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,"[Romance, Comedy]"
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,NaN,NaN,NaN,"[Comedy, Drama, Romance]"
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg,[Comedy]

In [10]:
df_removed_columns['genres'] = df_droped['genres']
df_droped.drop('genres', axis=1, inplace=True)
df_removed_columns.head()

,video,imdb_id,adult,original_title,poster_path,homepage,belongs_to_collection,genres
0,False,tt0114709,False,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,http://toystory.disney.com/toy-story,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,False,tt0113497,False,Jumanji,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,NaN,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,False,tt0113228,False,Grumpier Old Men,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,NaN,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,False,tt0114885,False,Waiting to Exhale,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,False,tt0113041,False,Father of the Bride Part II,/e64sOI48hQXyru7naBFyssKFxVd.jpg,NaN,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'id': 35, 'name': 'Comedy'}]"

In [11]:
df_droped.head()

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,...,status,tagline,title,vote_average,vote_count,collection_id,collection_name,collection_poster_path,collection_backdrop_path,genres_extracted
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,...,Released,NaN,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,"[Animation, Comedy, Family]"
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,...,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,NaN,NaN,NaN,"[Adventure, Fantasy, Family]"
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,"[Romance, Comedy]"
3,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,NaN,NaN,NaN,"[Comedy, Drama, Romance]"
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg,[Comedy]

In [12]:
def extract_production_companies(row):
    try:
        companies_list = ast.literal_eval(row)
        if isinstance(companies_list, list):
            companies = [company['name'] for company in companies_list]
            return companies
        else:
            return []
    except (SyntaxError, ValueError):
        return []

df_droped['production_companies_extracted'] = df_droped['production_companies'].apply(extract_production_companies)

In [13]:
df_droped.head()

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,...,tagline,title,vote_average,vote_count,collection_id,collection_name,collection_poster_path,collection_backdrop_path,genres_extracted,production_companies_extracted
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,...,NaN,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,"[Animation, Comedy, Family]",[Pixar Animation Studios]
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,...,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,NaN,NaN,NaN,"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co..."
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]"
3,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,...,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,NaN,NaN,NaN,"[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation]
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg,[Comedy],"[Sandollar Productions, Touchstone Pictures]"

In [14]:
df_removed_columns['production_companies'] = df_droped['production_companies']
df_droped.drop('production_companies', axis=1, inplace=True)
df_removed_columns.head()

,video,imdb_id,adult,original_title,poster_path,homepage,belongs_to_collection,genres,production_companies
0,False,tt0114709,False,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,http://toystory.disney.com/toy-story,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'name': 'Pixar Animation Studios', 'id': 3}]"
1,False,tt0113497,False,Jumanji,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,NaN,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'name': 'TriStar Pictures', 'id': 559}, {'na..."
2,False,tt0113228,False,Grumpier Old Men,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,NaN,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'..."
3,False,tt0114885,False,Waiting to Exhale,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",[{'name': 'Twentieth Century Fox Film Corporat...
4,False,tt0113041,False,Father of the Bride Part II,/e64sOI48hQXyru7naBFyssKFxVd.jpg,NaN,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'id': 35, 'name': 'Comedy'}]","[{'name': 'Sandollar Productions', 'id': 5842}..."

In [15]:
def extract_prodtucion_countries(row):
    try:
        countries_list=ast.literal_eval(row)
        if isinstance(countries_list,list):
            countries=[country['name'] for country in countries_list]
            return countries
        else:
            return[]
    except(SyntaxError,ValueError):
        return[]

df_droped['production_countries_extracted']=df_droped['production_countries'].apply(extract_prodtucion_countries)

In [16]:
df_droped.head(10)

,budget,id,original_language,overview,popularity,production_countries,release_date,revenue,runtime,spoken_languages,...,title,vote_average,vote_count,collection_id,collection_name,collection_poster_path,collection_backdrop_path,genres_extracted,production_companies_extracted,production_countries_extracted
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,"[Animation, Comedy, Family]",[Pixar Animation Studios],[United States of America]
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,Jumanji,6.9,2413.0,NaN,NaN,NaN,NaN,"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America]
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]",[United States of America]
3,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,Waiting to Exhale,6.1,34.0,NaN,NaN,NaN,NaN,"[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[United States of America]
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg,[Comedy],"[Sandollar Productions, Touchstone Pictures]",[United States of America]
5,60000000,949,en,"Obsessive master thief, Neil McCauley leads a ...",17.924927,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,Heat,7.7,1886.0,NaN,NaN,NaN,NaN,"[Action, Crime, Drama, Thriller]","[Regency Enterprises, Forward Pass, Warner Bros.]",[United States of America]
6,58000000,11860,en,An ugly duckling having undergone a remarkable...,6.677277,"[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",...,Sabrina,6.2,141.0,NaN,NaN,NaN,NaN,"[Comedy, Romance]","[Paramount Pictures, Scott Rudin Productions, ...","[Germany, United States of America]"
7,0,45325,en,"A mischievous young boy, Tom Sawyer, witnesses...",2.561161,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,Tom and Huck,5.4,45.0,NaN,NaN,NaN,NaN,"[Action, Adventure, Drama, Family]",[Walt Disney Pictures],[United States of America]
8,35000000,9091,en,International action superstar Jean Claude Van...,5.23158,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,Sudden Death,5.5,174.0,NaN,NaN,NaN,NaN,"[Action, Adventure, Thriller]","[Universal Pictures, Imperial Entertainment, S...",[United States of America]
9,58000000,710,en,James Bond must unmask the mysterious head of ...,14.686036,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,GoldenEye,6.6,1194.0,645.0,James Bond Collection,/HORpg5CSkmeQlAolx3bKMrKgfi.jpg,/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg,"[Adventure, Action, Thriller]","[United Artists, Eon Productions]","[United Kingdom, United States of America]"

In [17]:
df_removed_columns['production_countries'] = df_droped['production_countries']
df_droped.drop('production_countries', axis=1, inplace=True)
df_removed_columns.head()

,video,imdb_id,adult,original_title,poster_path,homepage,belongs_to_collection,genres,production_companies,production_countries
0,False,tt0114709,False,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,http://toystory.disney.com/toy-story,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o..."
1,False,tt0113497,False,Jumanji,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,NaN,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o..."
2,False,tt0113228,False,Grumpier Old Men,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,NaN,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o..."
3,False,tt0114885,False,Waiting to Exhale,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o..."
4,False,tt0113041,False,Father of the Bride Part II,/e64sOI48hQXyru7naBFyssKFxVd.jpg,NaN,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'id': 35, 'name': 'Comedy'}]","[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o..."

In [18]:
df_droped.head(3)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,spoken_languages,status,...,title,vote_average,vote_count,collection_id,collection_name,collection_poster_path,collection_backdrop_path,genres_extracted,production_companies_extracted,production_countries_extracted
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,"[Animation, Comedy, Family]",[Pixar Animation Studios],[United States of America]
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,...,Jumanji,6.9,2413.0,NaN,NaN,NaN,NaN,"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America]
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]",[United States of America]

In [19]:
def extract_languages(row):
    try:
        languages_list=ast.literal_eval(row)
        if isinstance(languages_list,list):
            language=[language['name'] for language in languages_list]
            return language
        else:
            return[]
    except(SyntaxError,ValueError):
        return[]

df_droped['languages_extracted']=df_droped['spoken_languages'].apply(extract_languages)

In [20]:
df_removed_columns['spoken_languages'] = df_droped['spoken_languages']
df_droped.drop('spoken_languages', axis=1, inplace=True)
df_removed_columns.head()

,video,imdb_id,adult,original_title,poster_path,homepage,belongs_to_collection,genres,production_companies,production_countries,spoken_languages
0,False,tt0114709,False,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,http://toystory.disney.com/toy-story,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"
1,False,tt0113497,False,Jumanji,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,NaN,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso..."
2,False,tt0113228,False,Grumpier Old Men,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,NaN,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"
3,False,tt0114885,False,Waiting to Exhale,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"
4,False,tt0113041,False,Father of the Bride Part II,/e64sOI48hQXyru7naBFyssKFxVd.jpg,NaN,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'id': 35, 'name': 'Comedy'}]","[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"

In [21]:
df_droped.head(4)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,vote_average,vote_count,collection_id,collection_name,collection_poster_path,collection_backdrop_path,genres_extracted,production_companies_extracted,production_countries_extracted,languages_extracted
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,"[Animation, Comedy, Family]",[Pixar Animation Studios],[United States of America],[English]
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,...,6.9,2413.0,NaN,NaN,NaN,NaN,"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],"[English, Français]"
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,...,6.5,92.0,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]",[United States of America],[English]
3,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,...,6.1,34.0,NaN,NaN,NaN,NaN,"[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[United States of America],[English]

In [22]:
df_removed_columns[['collection_poster_path', 'collection_backdrop_path']] = df_droped[['collection_poster_path', 'collection_backdrop_path']].copy()
df_droped = df_droped.drop(['collection_poster_path', 'collection_backdrop_path'], axis=1)

In [23]:
df_droped.head(3)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,collection_id,collection_name,genres_extracted,production_companies_extracted,production_countries_extracted,languages_extracted
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,"[Animation, Comedy, Family]",[Pixar Animation Studios],[United States of America],[English]
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,NaN,"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],"[English, Français]"
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]",[United States of America],[English]

In [24]:
#save the df unested in a new csv
#df_droped.to_csv('D:\SoyHenry\Proyecto Integrador 1\Movies-Recomendation-ML\Data\movies_dataset_unnested.csv', index=False)

In [25]:
#fill the nulls values with 0(cero) in revenue and budget colums
df_droped[['revenue', 'budget']] = df_droped[['revenue', 'budget']].fillna(0)

In [26]:
df_droped.shape

(45466, 19)

In [27]:
df_unested = df_droped.dropna(subset=['release_date'])
df_unested.shape
df_unested.head()

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,collection_id,collection_name,genres_extracted,production_companies_extracted,production_countries_extracted,languages_extracted
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,"[Animation, Comedy, Family]",[Pixar Animation Studios],[United States of America],[English]
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,NaN,"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],"[English, Français]"
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]",[United States of America],[English]
3,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,NaN,"[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[United States of America],[English]
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,[Comedy],"[Sandollar Productions, Touchstone Pictures]",[United States of America],[English]

In [28]:
# Convert the 'release_date' column to datetime format, handling errors and invalid values
df_unested['release_date'] = pd.to_datetime(df_unested['release_date'], errors='coerce')

# Drop rows with invalid datetime values
df_unested = df_unested.dropna(subset=['release_date'])

# Extract the year and assign it to a new column 'release_year'
df_unested['release_year'] = df_unested['release_date'].dt.year

C:\Users\Cristian Nicolás\AppData\Local\Temp\ipykernel_7020\197744934.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unested['release_date'] = pd.to_datetime(df_unested['release_date'], errors='coerce')

In [29]:
df_unested

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,collection_id,collection_name,genres_extracted,production_companies_extracted,production_countries_extracted,languages_extracted,release_year
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,"[Animation, Comedy, Family]",[Pixar Animation Studios],[United States of America],[English],1995
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,NaN,"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],"[English, Français]",1995
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]",[United States of America],[English],1995
3,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,NaN,"[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[United States of America],[English],1995
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,[Comedy],"[Sandollar Productions, Touchstone Pictures]",[United States of America],[English],1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,0,30840,en,"Yet another version of the classic epic, with ...",5.683753,1991-05-13,0.0,104.0,Released,NaN,Robin Hood,5.7,26.0,NaN,NaN,"[Drama, Action, Romance]","[Westdeutscher Rundfunk (WDR), Working Title F...","[Canada, Germany, United Kingdom, United State...",[English],1991
45462,0,111109,tl,An artist struggles to finish his work while a...,0.178241,2011-11-17,0.0,360.0,Released,NaN,Century of Birthing,9.0,3.0,NaN,NaN,[Drama],[Sine Olivia],[Philippines],[],2011
45463,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,Betrayal,3.8,6.0,NaN,NaN,"[Action, Drama, Thriller]",[American World Pictures],[United States of America],[English],2003
45464,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,Satan Triumphant,0.0,0.0,NaN,NaN,[],[Yermoliev],[Russia],[],1917
45465,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,NaN,Queerama,0.0,0.0,NaN,NaN,[],[],[United Kingdom],[English],2017

In [30]:

# Convert the 'revenue' and 'budget' columns to numeric type
df_unested['revenue'] = pd.to_numeric(df_unested['revenue'], errors='coerce')
df_unested['budget'] = pd.to_numeric(df_unested['budget'], errors='coerce')

# Fill the null values in 'revenue' and 'budget' with 0
df_unested['revenue'].fillna(0, inplace=True)
df_unested['budget'].fillna(0, inplace=True)

# Calculate the return on investment (return) as revenue / budget
df_unested['return'] = df_unested['revenue'] / df_unested['budget']

# Replace infinite or indeterminate values with 0
df_unested['return'].replace([float('inf'), float('-inf'), float('nan')], 0, inplace=True)

In [31]:
df_unested

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,vote_average,vote_count,collection_id,collection_name,genres_extracted,production_companies_extracted,production_countries_extracted,languages_extracted,release_year,return
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,7.7,5415.0,10194.0,Toy Story Collection,"[Animation, Comedy, Family]",[Pixar Animation Studios],[United States of America],[English],1995,12.451801
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,...,6.9,2413.0,NaN,NaN,"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],"[English, Français]",1995,4.043035
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,...,6.5,92.0,119050.0,Grumpy Old Men Collection,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]",[United States of America],[English],1995,0.000000
3,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,...,6.1,34.0,NaN,NaN,"[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[United States of America],[English],1995,5.090760
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,...,5.7,173.0,96871.0,Father of the Bride Collection,[Comedy],"[Sandollar Productions, Touchstone Pictures]",[United States of America],[English],1995,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,0,30840,en,"Yet another version of the classic epic, with ...",5.683753,1991-05-13,0.0,104.0,Released,NaN,...,5.7,26.0,NaN,NaN,"[Drama, Action, Romance]","[Westdeutscher Rundfunk (WDR), Working Title F...","[Canada, Germany, United Kingdom, United State...",[English],1991,0.000000
45462,0,111109,tl,An artist struggles to finish his work while a...,0.178241,2011-11-17,0.0,360.0,Released,NaN,...,9.0,3.0,NaN,NaN,[Drama],[Sine Olivia],[Philippines],[],2011,0.000000
45463,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,...,3.8,6.0,NaN,NaN,"[Action, Drama, Thriller]",[American World Pictures],[United States of America],[English],2003,0.000000
45464,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,...,0.0,0.0,NaN,NaN,[],[Yermoliev],[Russia],[],1917,0.000000
45465,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,NaN,...,0.0,0.0,NaN,NaN,[],[],[United Kingdom],[English],2017,0.000000

In [32]:
df_unested.drop_duplicates(subset="id", inplace=True)